# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
.eggs/

# Entornos virtuales
venv/
env/
.venv/
ENV/

# Tests / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/

# IDEs
.vscode/
.idea/
*.swp

# Bases de datos locales (usar volumen en runtime)
*.db
*.sqlite
*.sqlite3

# Archivos del sistema
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Logs
*.log
